<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <br>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <br>

  <% if !article.image.nil?%>
    <%= image_tag(article.image) %>
  <% else %>
    <p> No image attached to this post. </p>
  <% end %>

</div>

<br>
